{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    <li>
        <a href="download-template/" class="addlink" style="background-color: #6B7280; color: white;">
            下載_總表範例_Excel
        </a>
    </li>
    <li>
        <a href="import-all/" class="addlink" style="background-color: #B4502E; color: white;">
            總表_批次匯入_Excel
        </a>
    </li>
    <li>
        <a href="import-excel/" class="addlink" style="background-color: #5F8661; color: white;">
            帳戶_批次匯入_Excel
        </a>
    </li>

    {{ block.super }}
{% endblock %}
