# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
venv/
env/
.env

# Django
*.log
db.sqlite3
media/

# IDE / Editor
.vscode/
.idea/

# Claude Code
.claude/

# OS
.DS_Store
Thumbs.db

# 給自己看的指令不須上傳
終端機指令.txt
